<!DOCTYPE html>
<html lang="{{ site.Language.Lang | default "en" }}">
{{ partial "head.html" . }}
<body class="{{ if .IsHome }}home-hero{{ end }}">
  {{ partial "header.html" . }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ with resources.Get "js/main.js" }}
    {{ $js := . | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
  {{ end }}
  {{ if .IsHome }}
    {{ with resources.Get "js/configurator.js" }}
      {{ $cfg := . | minify | fingerprint }}
      <script src="{{ $cfg.RelPermalink }}" integrity="{{ $cfg.Data.Integrity }}" defer></script>
    {{ end }}
  {{ end }}
</body>
</html>
